.modal.is-hidden.modal--delete
    .wrap
        h1.modal-title SEND TO BAT?
        h3.modal-subtitle @username
        .modal-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        .action
            button.btn.btn--false(value="No").
                Cancel
            button.btn.btn--true(value="Yes").
                Confirm