doctype html
html
	include ../includes/head

	block vars

	- if (subText === undefined)
		- subText = 'Oops'

	body
		div(class="container #{page}")
			include ../includes/header

			.page-content.g-container
				.g-row
					section.g-col.g-span8.section--tweets
						ul#wall-content.wall-content
					section.g-col.g-span4.section--power
						.range--power
							input.slider(type="range" name="slide" min="0" max="4" step="1" value="0")
							ul.meter


			include ../shared/modal
			include ../includes/footer

	include ../includes/foot
